
@{
    ViewBag.Title = "Message Sent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bodywrap">
    <div class="message">
        <h1>Your message has been sent!</h1>
        <p>I will be sure to reply to your messages promptly.</p><br />
        @Html.ActionLink("Go to Home Page", "home", "about")
    </div>
</div>