@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bodywrap">
    <section>
        <h1>HIGH SCHOOL</h1>
        <div class="educationhead">
            <img src="~/Content/Images/Content/highschool.jpg" alt="Entrance to Steelcrest High School" />
            <h2>Steelcrest High School</h2>
            <p>I completed grade 12 at Steelcrest High School (Middelburg, Mpumalanga) with the following subjects:</p>
        </div>
        <hr />
        <div id="subjectswrap">
            <div>
                <h3>Compulsory Subjects</h3>
                <p>Mathematics</p>
                <p>English Home Language</p>
                <p>Afrikaans First Additional Language</p>
                <p>Life Orientation</p>
            </div>
            <div>
                <h3>Additional Subjects</h3>
                <p>Computer Applications Technology</p>
                <p>Life Sciences</p>
                <p>Geography</p>
            </div>
        </div>
    </section>
    <section>
        <h1>COLLEGE</h1>
        <div class="educationhead">
            <img src="~/Content/Images/Content/college.jpg" alt="Relaxation area at WW.IT-IQ Training and Solutions" />
            <h2>WW.IT-IQ Training and Solutions</h2>
            <p>After much debate, I went on to study at WW.IT-IQ Training and Solutions, situated in Pretoria, Gauteng. I completed the following courses:</p>
        </div>
        <hr />
        <ul id="courseswrap">
            <li>Microsoft Office (Word, Excel, PowerPoint, and Outlook)</li>
            <li>Relational Database Design</li>
            <li>Microsoft Access</li>
            <li>SQL Database Design and Development Fundamentals</li>
            <li>Developing and Querying Microsoft SQL Server Databases</li>
            <li>English Module 1 (Grammar) and Module 2 (Business English)</li>
            <li>Software Development Fundamentals</li>
            <li>Object Oriented Programming</li>
            <li>Windows Presentation Foundation</li>
            <li>Data Access in .NET</li>
            <li>Programming in Visual C#.NET</li>
            <li>Introduction to Web Design and Development</li>
            <li>Web Scripting Languages (JavaScript)</li>
            <li>ASP.NET Development</li>
            <li>Introduction to Crystal Reports in .NET</li>
            <li>Developing ASP.NET MVC 4 Web Applications</li>
            <li>Developing Windows Azure and Web Services (Cloud Development)</li>
        </ul>
    </section>
    <section>
        <h1>ACTIVE MICROSOFT CERTIFICATIONS</h1>
        <div class="educationhead">
            <img src="~/Content/Images/Content/exams.jpg" alt="The Microsoft Learning Logo" />
            <p>A Microsoft Certification is an industry standard that is recognised worldwide.</p>
        </div>
        <hr />
        <div id="certificatedisplay">
            <a href="~/Content/Images/Content/mcts1cert.JPG"><div id="mcts1"></div></a>
            <a href="~/Content/Images/Content/mcts2cert.JPG"><div id="mcts2"></div></a>
            <a href="~/Content/Images/Content/mcts3cert.JPG"><div id="mcts3"></div></a>
            <a href="~/Content/Images/Content/ms1cert.JPG"><div id="ms1"></div></a>
            <a href="~/Content/Images/Content/ms2cert.JPG"><div id="ms2"></div></a>
            <a href="~/Content/Images/Content/mcpcert.JPG"><div id="mcp"></div></a>
            <a href="~/Content/Images/Content/mcsdcert.JPG"><div id="mcsd"></div></a>
        </div>
        <hr />
        <h2>Exams</h2>
        <p>The above Microsoft certifications have been earned through passing the following exams:</p>
        <p><a href="https://www.microsoft.com/en-us/learning/exam-70-433.aspx" rel="nofollow">Exam 433</a> Database Development with Microsoft SQL Server 2008</p>
        <p><a href="https://www.microsoft.com/en-us/learning/exam-70-483.aspx" rel="nofollow">Exam 483</a> Programming in C#</p>
        <p><a href="https://www.microsoft.com/en-us/learning/exam-70-511.aspx" rel="nofollow">Exam 511</a> Windows Application Development with Microsoft .NET Framework 4</p>
        <p><a href="https://www.microsoft.com/en-us/learning/exam-70-516.aspx" rel="nofollow">Exam 516</a> Accessing Data with Microsoft .NET Framework 4</p>
        <p><a href="https://www.microsoft.com/en-us/learning/exam-70-480.aspx" rel="nofollow">Exam 480</a> Programming in HTML5 with JavaScript and CSS3</p>
        <p><a href="https://www.microsoft.com/en-us/learning/exam-70-486.aspx" rel="nofollow">Exam 486</a> Developing ASP.NET MVC 4 Web Applications</p>
        <p><a href="https://www.microsoft.com/en-us/learning/exam-70-487.aspx" rel="nofollow">Exam 487</a> Developing Microsoft Azure and Web Services</p>
    </section>
    <blockquote><a href="https://www.microsoft.com/en-za/">Microsoft</a> is a registered trademark of Microsoft Corporation in the United States and other countries</blockquote>
</div>