@{
    ViewBag.Title = "Extra information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bodywrap">
    <h1>Extra information about my web services</h1>
    <section>
        <h2>General Info</h2>
        <p>If you frequently browse the Internet, and you have a good idea of what pages and content you would like on your website, you will receive a discounted rate for the creation of your website.</p>
        <p>A 50% deposit of the website creation cost must be paid before I will start working on your website.</p>
        <p>It will take approximately a week or two to complete a website (longer for larger websites).</p>
        <p>Please be prompt with providing me with all information and images that are necessary for the website, as to avoid extra charges that may incur for unnecessarily extending the design time.</p>
    </section>
    <section>
        <h2>Technical Info</h2>
        <p>All websites are hand coded using ASP.NET MVC 5, HTML5, CSS3 and JavaScript.</p>
        <p>I aim to build responsive websites which can look good on almost any device. Wide screen users can enjoy their extra screen space, while smartphone users can still comfortably navigate their way around the site. I also pay attention to data usage and the general loading speed of each webpage.</p>
        <p>Hand coded websites have the benefits of being:</p>
        <ul>
            <li>unique</li>
            <li>adaptable</li>
            <li>scalable</li>
            <li>search engine friendly</li>
            <li>memorable</li>
        </ul>
        <p>They can, however, take longer to create.</p>
        <p>Maintenance of your website includes fixing bugs, updating content and making changes to the design.</p>
        <p>Love is blind…so even though I may think a website looks good, you may disagree to varying extents. Never hesitate to give your honest opinion. A web designer never stops learning, and good amounts of constructive criticism helps with this learning process.</p>
    </section>
    <section>
        <h2>Images</h2>
        <p>Extra images are acquired from Flickr under a Creative Commons license, and the owners of those images will be given credit on a separate “Website Credits” page.</p>
        <p>Sometimes free images are not enough…if you want professional looking images / photos for your website, I can recommend buying stock photos online.</p>
        <p>Stock images need to be arranged ahead of time. This is to accommodate for late responses from the owners of the images.</p>
        <h2>Pages</h2>
        <p>20 pages is not the maximum number of pages you can have. You are also able to add more pages if you wish to.</p>
        <p>Each website will have an extra page (not included in the set number of pages) for giving credit to all those that contributed in the design of the website. Check <a href="@Url.Action("contact","about")">here</a> to get an idea of how it could look.</p>
    </section>
    <section>
        <h2>A note on social networking</h2>
        <p>It is beneficial to integrate social networking with your website, as it can drive more traffic to your website (or vice versa).</p>
        <p>I highly recommend that everyone gets involved with at least one social network. Managing your own social accounts (with the advice of an experienced social marketer) will provide the best results. It connects you to those visiting your website and social pages, allowing businesses to win more clients; non-profit organisations to gain more sponsors; and even for aspiring artists to raise more interest.</p>
        <p>If you would like to be referred to a social network marketer, I can assist you with that.</p>
        <p>I do offer very basic services to manage and monitor your social pages, if you are unable to do so yourself. This includes scheduling posts and processing comments for you to review.</p>
        <p>Currently, I only offer services for Facebook and Twitter, but I do plan to include other social media services (Google+, LinkedIn, Pinterest, Instagram) in the future.</p>
        <p>I will also set up a <i>Google My Business</i> or <i>Google Plus Brands</i> account for you at an extra cost. This can help people find your website.</p>
    </section>
</div>