@{
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bodywrap">
    <section>
        <h1>About Me</h1>
        <p>I'm a young web designer looking to make a difference in the lives of others under the sweet guidance of God.</p>
        <p>A handful of words that describe me:</p>
        <ul>
            <li class="handful" style="color: rgb(0,153,102);">Sensitive</li>
            <li class="handful" style="color: rgb(0,102,153);">Caring</li>
            <li class="handful" style="color: rgb(204,204,51);">Loyal</li>
            <li class="handful" style="color: rgb(204,153,102);">Honest</li>
            <li class="handful" style="color: rgb(204,102,153);">Perfectionist</li>
        </ul>
        <p>

        </p>
        <h2>Why computers?</h2>
        <p>Computers have always been a part of my life. As a youngster, I often spent hours playing pc games. Things got very interesting the day dial-up Internet made its way into our home, and the Internet has since become one of my daily tools.</p>
        <h2>Why web design?</h2>
        <p>I wondered through my days in college, uncertain and distracted, until I learnt how to create a simple html text document that could magically spawn an attractive and structured web page. Since then, I have taken an interest in learning Microsoft's standards for designing and developing websites using their various technologies.</p>
    </section>
    <section>
        <h1>Skills</h1>
        <h2>I.T. - Information Technology</h2>
        <p>I am currently focusing on the following technologies:</p>
        <ul>
            <li>HTML5 and CSS3</li>
            <li>JavaScript</li>
            <li>MEAN stack (MongoDB, Express, AngularJS and Node.js)</li>
            <li>ASP.NET MVC 5</li>
            <li>Visual C#.NET</li>
        </ul>
        <p>My other I.T. skills include:</p>
        <ul>
            <li>working with SQL Server databases</li>
            <li>developing applications using Windows Presentation Foundation</li>
            <li>accessing data with the .NET Framework</li>
            <li>developing with Windows Azure and Web Services</li>
        </ul>
        <p>Out of the Microsoft Office programs, Word and PowerPoint are my strong points. I also know my way around Excel, Outlook and Access.</p>
    </section>
    <section>
        <h1>Goals</h1>
        <h2>Education:</h2>
        <p>I have chosen to specialise in web development, even though I studied both web and windows development. I continue to exercise these skills, so that I may build attractive and efficient web applications.</p>
        <h2>Career:</h2>
        <!--
        <p>I am privileged enough to have the opportunity to start my professional journey doing freelance web design (with special thanks to my father). I offer web design services that include building advertisement websites for individuals, organisations, or businesses. I will see about joining up with a few individuals in the near future, and together, we could start developing more complex web applications. This may eventually include small online shopping websites. </p>-->
        <p>Using the experience that I gained through my volunteering, I wish to join a team of web developers. My main contribution will be front end development, but also I make an effort to understand the general workings of the back end. I look for the bigger picture, while still focusing on what I do best.</p>
        <h2>Personal:</h2>
        <p>I have many personal goals. One of these goals is to open up an animal shelter. I plan to do things different with this shelter...I want to focus on rehabilitating shy or aggressive animals, in the hopes of improving their chances of being adopted. Those that do not stand a chance of getting a new home will be able to live out their days in the safety of the shelter. It’s a tough (maybe even an impossible) goal, but with God, nothing is impossible.</p>
    </section>
    <!--<section><h1>Gallery</h1><p>A few of my attempts at photography...</p></section>-->
</div>