@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bodywrap">
    <section>
        <h1>Existing Websites</h1>
        <p>On this page, you can find details about websites that I have built.</p>
    </section>
    <section>
        <h2>Voluntary</h2>
        <p>Websites that were done with no charge for the design work</p>
        <div class="projectwrap">
            <div>
                <p>Name: Victim Support Centre Middelburg</p>
                <p>Description: A small, non-profit organisation that strives to help victims of crime and violence situated in and around South Africa. The aim of the website is to increase awareness about their organisation and how they assist victims in need. They also hope to receive more donations and sponsors, as well as to provide more information about crime and violence.</p>
                <p class="longlinks">Website Address: <a href="http://www.victimsupportcentremiddelburg.org/">http://www.victimsupportcentremiddelburg.org/</a></p>
            </div>
        </div>
        <div class="projectwrap">
            <div>
                <p>Name: South African Agricultural and Other Investments Society</p>
                <p>Description: A society that is dedicated to the advancement and protection of South Africans, which is done by working with agricultural and related small and medium-sized enterprises (SMEs). The website's initial aim is to gain members so that they may be able to register as a cooperative savings and credit bank. Membership is made easy through the website's online registration form.</p>
                <p class="longlinks">Website Address: <a href="http://saagriculturalandotherinvestmentssociety.co.za/">http://saagriculturalandotherinvestmentssociety.co.za/</a></p>
            </div>
        </div>
    </section>
    <section>
        <h2>Personal</h2>
        <p>My own personal corner on the web</p>
        <div class="projectwrap">
            <div>
                <p>Name: Discover Max</p>
                <p>Description: All web developers should have their own personal website. Mine aims to get the general public acquainted with me, as well as to market my website design skills for those that may be interested in working with me.</p>
                <p class="longlinks">Website Address: <a href="http://www.discovermax.co.za/">http://www.discovermax.co.za/</a></p>
            </div>
        </div>
    </section>
    <section>
        <h2>Fun</h2>
        <p>Random, demo websites featuring different design styles that I have to offer</p>
        <div class="projectwrap">
            <div>
                <p>COMING SOON</p>
            </div>
        </div>
    </section>
    <section>
        <h1>New Projects</h1>
        <p>I am always willing to discuss new projects.</p>
    </section>
</div>