@{
    ViewBag.Title = "Web Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bodywrap">
    <section>
        <h1>Why a Website?</h1>
        <p>A website can be an important asset for any business / organisation. It:</p>
        <ul>
            <li>makes information convenient and available 24/7</li>
            <li>is easy to change information on a website (verses printed media)</li>
            <li>is accessible to customers / clients / sponsors all around the world</li>
            <li>is affordable / low cost advertising</li>
            <li>contributes to your credibility</li>
            <li>saves money that may be spent on telephonic communication</li>
        </ul>
        <p>For an in-depth read on how a website can help you, check <a href="http://www.localwebsitedesign.com/top-10-reasons-to-have-a-good-website/">here</a>.</p>
    </section>
    <section>
        <h1>Keep in mind...</h1>
        <p>For those who are starting a business:</p>
        <p>"<em>Your website is just a tool for your business. Your website is NOT your business.</em>" - <a href="http://www.websitebuilderexpert.com/why-you-should-not-hire-a-website-designer/" rel="nofollow">Jeremy Wong (follow link to read his article)</a></p>
    </section>
    <section>
        <h1>Need Help?</h1>
        <p>I have good experience with creating websites from the ground up; starting with conceptualisation, leading all the way through to publishing and ongoing maintenance.</p>
        <p>I will work closely with you to produce a high quality, hand crafted website that looks good on desktop, tablet and smartphone devices. I pay immaculate attention to detail, and I offer ideas and suggestions throughout the design process.</p>      
    </section>
    <section>
        <p>Do you want to work on some online architecture with me? @Html.ActionLink("Contact me today!", "contact")</p>
    </section>
    <hr />
    <p>What does creating a website involve? <a href="@Url.Action("whatcreatingawebsiteinvolves","about")">Find out here</a></p>
    <p><a href="@Url.Action("extrainfoaboutmywebservices","about")">Want more information about my web services?</a></p>
    <p>Don't have the information you are looking for? Talk to me.</p>
</div>