@{
    ViewBag.Title = "Creating a website";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bodywrap">
    <section>
        <h1>What does creating a website involve?</h1>
        <p>To those who are not up to date with technology, creating a website may seem intimidating. I aim to simplify this whole process for my clients.</p>
        <p>Each website is an individual, and I treat each one as such.</p>
    </section>
    <section>
        <h2>Planning and designing the website</h2>
        <p>First, we have to establish the purpose that the website will serve. The page hierarchy and content structure will then be worked out. Colours, themes, images and icons also need to be decided on. Clients will have the opportunity to approve the design at each stage, and make further requests.</p>
    </section>
    <section>
        <h2>Putting the website online</h2>
        <p>Once the website design has been completed, I will handle getting it online. This involves registering a domain name and setting up the web hosting for the site. If required, I will also set you up with a professional looking e-mail address (yourname@yourbusinessname.com).</p>
        <p>On launching the website, I will notify you. You can choose whether you want to release it under beta status (testing) or as is. Releasing a beta website allows for changes to take place over a couple of days (sometimes even weeks, depending on the nature of the website). This gives you a chance to review the website, and request any changes where necessary. When you are satisfied with the result, we end the beta period.</p>
    </section>
    <section>
        <h2>Continued website support</h2>
        <p>I will then continue to monitor your website, and carry out routine search engine optimisation. This maintenance is included with the monthly hosting fee, and I will be available for general website support and requests during the week. These requests can include actions such as minor changes, colour adjustments, and complete site redesigns.</p>
        <p>To improve your level of satisfaction, please be honest and give your detailed opinion on every aspect of the website. This will ensure I am able to deliver a website that goes beyond its expectations.</p>
    </section>
    <p>
        Definition of SEO (search engine optimisation):<br />
        Search engine optimization involves affecting the visibility of a website / webpage in a search engine’s “natural” or unpaid (“organic”) search results. This is done using strategies, techniques and tactics, which then increases the chance of more visitors finding their way to a website. Search engines include Google, Bing, and Yahoo.<br />
        <i>References: <a href="https://en.wikipedia.org/wiki/Search_engine_optimization">Wikipedia</a> and <a href="http://www.webopedia.com/TERM/S/SEO.html">Webopedia</a></i>
    </p>
</div>